<style>
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed|Lato|Asap');

    .buy {
        background-color: #E8683D;
        width: 220px;
        height: 150px;
        padding: 10px;
        margin: 10px;
        float: left;
    }

    .buyheading
     {
        font-family: 'Asap Condensed', sans-serif;
        color: #ffffff;
        font-size: 30px;
    }

    .buyprice
     {
        font-family: 'Asap Condensed', sans-serif;
        color: #ffffff;
        font-size: 24px;
    }
    .buybody{
        font-family: 'Lato', sans-serif;
        font-size: 12px;
        
    }
    .white{
        color: #ffffff;

    }
    .clear {
        clear: both;
    }
</style>




<div class="buy">
    <a href="cloud/nano">
        <div class="buyheading">Cloud Nano</div>
        <div class="buyprice">DKK 1.999 / week</div>
        <div class="buybody white">iOS device</div>
    </a>
</div>

<div class="buy">
    <a href="cloud/mini">
        <div class="buyheading">Cloud Mini</div>
        <div class="buyprice">DKK 2.999 / week</div>
        <div class="buybody white">Windows + iOS device</div>
    </a>

</div>

<div class="buy">
    <a href="hybrid/mid-range">

        <div class="buyheading">Hybrid Regular</div>
        <div class="buyprice">DKK 7.999 / week</div>
        <div class="buybody white">Windows + Mac + iOS + Android devices. Local server &amp; wifi </div>
    </a>
</div>

<div class="clear"></div>
<div class="buybody ">All comes with Office365 30 days trial, 2 virtual server (AD+Azure AD Connect)</div>
